@model OnlineShoping.Models.Home.HomeIndexViewModel
@using PagedList;
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";

    //     void disablebrowserbackbutton()
    //{
    // HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
    // HttpContext.Current.Response.Cache.SetNoServerCaching();
    // HttpContext.Current.Response.Cache.SetNoStore();
    //}
    //    disablebrowserbackbutton();
}
<link href="~/Content/MyMainLauOut.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:320px ; width:100%" src="~/Images/1280x960.jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>New</h3>

            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px ; width:100%" src="~/Images/flash-drives-memory.jpg" alt="Second slide">
            <div class="carousel-caption">
                <h3>Phones</h3>

            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px ; width:100%" src="~/Images/Lithium-Ion-Batteries-AA-e1568244465343.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>Latest</h3>

            </div>
        </div>
    </div>

 

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>


</div>
<div class="olContent f1">
    <h2 style="color:black">Search Product/Category </h2>

</div>

<form method="post">
    <div class="olSearch fr">
        <input type="text" placeholder="Enter Keyword" name="search"
               class="inputComn houseText form-control" />
        <div class="searchIcon">
            <button type="submit" class="searchBtn" t>
                <img style="height:30px; padding-bottom:10px" src="~/Images/search-very-basic-icon-ios-iconset-icons-7.png" />

            </button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Products<small> trends products</small></h2>
        </div>

    </div>
</div>

<div class="row product-container">
    @foreach (var item in Model.ListOfProducts)
    {
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px;">
            <div class="thumbnail product-item" style="height:300px;">
                <img class="img-responsive" title="Click to view Product detail"
                     style="cursor:pointer; height:160px; width:100%" src="~/ProductImgs/@item.ProductImage">
                <div class="caption">
                    <h5> @item.ProductName</h5>
                    <p style="color:green">@item.Price .EGP</p>

                    @if (item.Quantity > 0)
                    {
                        using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId, url = "Index"  }, FormMethod.Post))
                        {
                            <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>
                        }

                        <p>Available</p>
                    }
                    else
                    {
                        <p>Not Available</p>
                    }

                    @if (item.IsFeatured == true)
                    {
                        <div class="product-item-badge">
                            New
                        </div>
                    }
                    else
                    {
                        <div class="product-item-badge">
                            Old
                        </div>
                    }

                </div>
            </div>
        </div>

    }

</div>
<div class="container">
    @Html.PagedListPager(Model.ListOfProducts, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }))
    
</div>
